<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <app-friend src="assets/icon/aza.jpg"
                [fio]="chatDetail.fio"></app-friend>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div
        *ngIf="messages && messages[0]"
        class="messages-container"
        #scrollMe
        [scrollTop]="scrollMe.scrollHeight"
    >
      <ul>
        <li
            *ngFor="let message of messages; let i = index"
            [style.flex-direction]=" message.own
            ? 'row-reverse'
            : 'row'
        "
        >
          <img *ngIf="!message.own" [src]="message.avatar" class="mini-avatar" />
          <span
              [ngClass]="
            message.own
              ? 'speech-bubble-own'
              : 'speech-bubble'
          "
          >{{ message.text }}
            <span class="time">{{message.time| date: 'HH:mm'}}</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div>
    <ion-item lines="none">
      <ion-input
          placeholder="Введите сообщение"
          #messageInput
          type="text"
          (keydown.enter)="onSendMessage(messageInput.value);
            messageInput.value = ''"
      ></ion-input>
      <!--      <ion-button icon-only="true" style="z-index: 1000;">-->
      <ion-icon (click)="onSendMessage(messageInput.value); messageInput.value = ''"
                color="danger" name="send"></ion-icon>
      <!--      </ion-button>-->
    </ion-item>
  </div>
</ion-footer>
