ion-header{
  --ion-background-color: var(--ion-color-qamqor);
}

ion-content {
  --ion-background-color: var(--ion-color-qamqor);
}
ion-footer {
  --ion-background-color: var(--ion-color-qamqor);
}

:host {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
}



.no-messages {
  background: #f8f9fb;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}

ul {
  padding: 0 1em;
  margin: 0;
  //bottom: 1%;
  //position: absolute;
}

.messages-container {
  overflow: auto;
  flex-grow: 2;
  height: 570px;
}

li {
  display: flex;
  list-style-type: none;
  padding: 10px 0;
  background-color: var(--ion-color-qamqor);
}

.speech-bubble {
  padding-top: 0.5em;
  padding-right: 0.7em;
  //padding-bottom: 0.9em;
  padding-left: 0.8em;

  max-width: 75%;
  position: relative;
  min-height: 30px;
  margin-left: 5px;
  border-radius: 0.8em;

  background: #EBEBEB;
  box-shadow: 0 1px 2px 0 #bdccd7;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: black;
  letter-spacing: 0;
  line-height: 19px;


}

.time {
  float: right;
  margin-left: 5px;
  padding-top: 1em;
  padding-bottom: 0.1em;
  font-weight: 600;
  font-size: 10px;
}

.speech-bubble-own {
  padding-top: 0.5em;
  padding-right: 0.7em;
  //padding-bottom: 0.2em;
  padding-left: 0.9em;
  position: relative;
  min-height: 30px;
  margin-right: 5px;

  max-width: 75%;
  word-wrap: break-word;

  border-radius: 0.8em;
  background: #212121;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 19px;
}

//.speech-bubble-own:after {
//  content: '';
//  position: absolute;
//  right: 0;
//  top: 50%;
//  width: 0;
//  height: 0;
//  border: 10px solid transparent;
//  border-left-color: #1b47db;
//  border-right: 0;
//  margin-top: -10px;
//  margin-right: -10px;
//}

.mini-avatar{
  width:36px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
}
