<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
<!--    <ion-title>PersonDetail</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
