<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Чат</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-friend *ngFor="let chat of chatList"
              [fio]="chat.fio"
              [src]="'assets/icon/aza.jpg'"
              (onClickDetail)="onClickChat(chat.id)"
              [city]="chat.lastMessage"></app-friend>
</ion-content>
