ion-content{
  --ion-background-color: var(--ion-color-qamqor-login);

  img{
    position: absolute;
    left: 10.4%;
    right: 72%;
    top: 10.94%;
    bottom: 78.41%;
  }

  .label{
    position: absolute;
    left: 10.4%;
    right: 32.53%;
    top: 25.84%;
    bottom: 64.62%;

    h1{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
    }

    p{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      padding-top: 10px;
    }
  }

  .input{
    position: absolute;
    left: 9.87%;
    right: 10.13%;
    top: 46.93%;
    bottom: 46.33%;

    ion-item{
      --background: #F5D112;
      border-radius: 35px;
      margin-bottom: 15px;
    }
  }

  .forgot-password{
    position: absolute;
    left: 20.87%;
    right: 20.6%;
    top: 67.62%;
    bottom: 29.39%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 20px;
  }

  .registration{
    position: absolute;
    left: 20.87%;
    right: 20%;
    top: 73.62%;
    bottom: 25.39%;

    text-decoration: underline;
  }


  ion-button{
    position: absolute;
    left: 10.13%;
    right: 9.87%;
    top: 81.71%;
    bottom: 9.3%;

    height: 62px;
    color: black;
    --background: #FFFFFF;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
}
