<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>Login</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <img src="assets/icon/login.png">
  <ion-label class="label">
    <h1>Вход</h1>
    <p>Введите ваш номер и пароль указанные при регистрации</p>
  </ion-label>

  <!--  <form [formGroup]="form" (submit)="login()" class="input">-->
  <form [formGroup]="form" class="input">
    <ion-item lines="none">
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input formControlName="password"></ion-input>
    </ion-item>
  </form>
  <ion-label (click)="forgotPassword()" class="ion-text-center forgot-password">Забыли пароль?</ion-label>
  <ion-label (click)="registration()" class="ion-text-center registration">Зарегистрироваться</ion-label>

  <ion-button [disabled]="form.invalid"
              (click)="login()"
              color="light"
              size="large"
              expand="block"
              type="submit"
              shape="round"
              class="button-add">
    ВОЙТИ
  </ion-button>
</ion-content>
