<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MyFriends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="testController()">asdf</ion-button>
  <ion-list>
    <app-friend *ngFor="let fr of friends"
                [fio]="fr.fio"
                [city]="fr.city"
                (onClickDetail)="clickDetail(fr.id)"
                [src]="fr.src"></app-friend>
  </ion-list>
</ion-content>
