<ion-item button lines="none" (click)="clickDetail($event)">
  <ion-avatar slot="start">
    <img [src]="src">
  </ion-avatar>
  <ion-label class="ion-no-padding ion-no-margin">
    <h2>{{fio}}</h2>
    <p>{{'city'}}</p>
  </ion-label>
</ion-item>
